@model Whiteboard.Models.BlogEntryModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<script>

    function removeBlogEntry1(bld1) {




        $.get('/Feed/removeBlogEntry/', { bld: bld1 }, function (data) {
            {


                location.reload();

            }
        });
    }

</script>

<div class="jumbotron">


    @{

        var section = 0;
        foreach (var item in Model.BlogList)
        {section = item.Section;}

        if (section == 1)
        {<h2>Education feed</h2>}
        else if (section == 2)
        {<h2>Research feed</h2>}
        else if (section == 3)
        {<h2>Social feed</h2>}
        else if (section == 4)
        {<h2>Personal feed</h2>}
        else{
                //Do nothing
            }


        <div class="row">
            <input type="text" class="titleArea" id="title" placeholder="Title:" /><!--TODO:max 75 tecken. <p>Error Message</p>--><br />
            <textarea class="postArea" id="textAreaId" placeholder="Share something about this section"></textarea><br />


            <select id="categoryMenu" multiple="multiple">
                @foreach (var item in Model.CategoryList)
                {
                    <option value=@item.Id>@item.Name</option>
                }

            </select>
        </div>
        <form name="form1" method="post" enctype="multipart/form-data" action="~/Api/WebAPI/UploadFile">
            <div>
                        <label for="image1">File</label>
                <input name="image1" type="file" />
            </div>
            <div>
                <input type="submit" value="Submit" id="sendPost" class="btn btn-info" />
            </div>
        </form>

        for (int i =0; i < Model.BlogList.Count; i++)
        {
            <div class="entries">

                <h2>Title: @Model.BlogList[i].Title</h2>
                <p> Message: @Model.BlogList[i].Content</p>
                <h6>Author: @Model.BlogList[i].Sender</h6> <!--placeholder ID-->
                <h6>Date: @Model.BlogList[i].Date</h6>
                @foreach (var k in @Model.CategoriesPerBlog[i])
            {
                    <h6>#@k</h6>
                }

                

                <button name="subject" class="btn-info" onclick="removeBlogEntry1(@Model.BlogList[i].BId)" @*type="submit"*@ value="HTML">Remove</button>

            </div>
        }
    }
</div>



@section Scripts
    {
    <script type="text/javascript">



        $(function () {
            var selectedCategories;
            $('#sendPost').click(function () {
                var data = $('#categoryMenu').val(); 
                var katt;
                katt = "";

                for (i = 0; i < data.length; i++) {

                    katt = katt + data[i] + ' ';
                };

                var title = $('#title').val();
                var content = $('#textAreaId').val();
                var section = '@ViewBag.sectionId';
                $.post("/api/WebAPI/sendPost?title=" + title + '&section=' + section + '&content=' + content + '&categoryIds=' + katt,
                    function () {
                        window.location.reload(true);
                    });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#categoryMenu').multiselect();
        });
    </script>
}