@model Whiteboard.Models.BlogEntryModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<script>
   
    function removeBlogEntry1(bld1) {




        $.get('/Feed/removeBlogEntry/', { bld: bld1 }, function (data) {
            {


                location.reload();

            }
        });
    }

</script>

<div class="jumbotron">
   
    
    
    
     @{




        //TODO: change Id to section name
        <h2></h2>
        <div class="row">
            <input type="text" class="titleArea" id="title" placeholder="Title:"/><!--TODO:max 75 tecken. <p>Error Message</p>--><br />
            <textarea class="postArea" id="textAreaId" placeholder="Share something about this section"></textarea><br/>
            <span>
                <button class="btn btn-info" id="sendPost">Add post</button>
            </span>

            <select id="categoryMenu" multiple="multiple">
                <!--Test bootstrap dropdown med checkboxar-->
                @foreach (var item in Model.CategoryList)
                {
                    <option value=@item.Id>@item.Name</option>
                }

            </select>
        </div>


        foreach (var item in Model.BlogList)
        {
            <div class="entries">
                
                    <h2>@item.Title</h2>
                    <p>@item.Content</p>
                    <h6>Author: @item.Sender</h6> <!--placeholder ID-->
                    <h6>Date: @item.Date</h6>
                <button name="subject" class="btn-info" onclick="removeBlogEntry1(@item.BId)" @*type="submit"*@ value="HTML">Remove</button>
                
            </div>
        }
    }
</div>



@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            var selectedCategories;
            $('#sendPost').click(function () {
                
               

                    //send elsewhere


                $data = $('#categoryMenu').val(); //Returnerar en Array av valda kategorier.
                //$dataString = serialize($data);
                var dataString = $('data').serialize();

                var title = $('#title').val();
                var content = $('#textAreaId').val();
                var section = '@ViewBag.sectionId';
                var sender = '1';///Hårdkodat. TODO: Ändra till cookie Id.
                $.post("/api/WebAPI/sendPost?title=" + title + '&section=' + section + '&sender=' + sender + '&content=' + content + '&categoryIds=' + dataString,
                    function () {
                        window.location.reload(true);
                    });
            });
        });
    </script>
    <!--Test för dropdown med checkboxar-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#categoryMenu').multiselect();
        });
    </script>
}