<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whiteboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Whiteboard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My feed", "getPersonalFeed", "Feed", new RouteValueDictionary(new { sectionID = 4 }), null)</li>
                        <li>@Html.ActionLink("Research", "Feed", "Feed", new RouteValueDictionary(new { sectionID = 2 }), null)</li>
                        <li>@Html.ActionLink("Social", "Feed", "Feed", new RouteValueDictionary(new { sectionID = 3 }), null)</li>
                        <li>@Html.ActionLink("Education", "Feed", "Feed", new RouteValueDictionary(new { sectionID = 1 }), null)</li>
                        <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
                        <li>@Html.ActionLink("Find users", "SearchUser", "SearchUser")</li>



                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Whiteboard</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
